.h6-1{
margin-right: 10px;
letter-spacing: 3px;
margin-top: 8px;
color: black
}
.icon1{
padding-right: 30px;
}
.h6-2{
margin-right: 10px;
letter-spacing: 3px;
margin-top: 4px;
color: black
}
.icon2{
    padding-right: 30px;
}
.nav-item{
    letter-spacing: 3px;
}
.navbar-brand{
    letter-spacing: 3px;
}
.sec1{
    background-color: rgb(248, 249, 250);
}
.imgsec1{
    width: 1450px;
    padding-left: 80px;
    position: relative;
}
.h1sec1{
    position: absolute;
    z-index: 1;
    font-family: 'Angela Cindysttar', sans-serif;
    color: white;
    font-size: 50px;
    top: 45%;
    left: 39%;
}
.h2sec1{
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 15px;
    top: 55%;
    letter-spacing: 3px;
    left: 36%;
}
.h3sec1{
    position: absolute;
    z-index: 1;
    font-family: 'Angela Cindysttar', sans-serif;
    color: white;
    font-size: 40px;
    top: 60%;
    letter-spacing: 3px;
    left: 32%;
}
h1 {
    font-size: 22px;
  }
  
  .img-responsive {
    width: 100%;
    max-width: 200px
  }
  
  @media screen and (max-width: 360px) {
    h1 {
      font-size: 12px !important;
      line-height: 80%;
      margin-top: 10px;
    }
    .img-responsive {
      width: 100%;
      max-width: 100px
    }
  }
  .sec2{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: 5.5%;
  }
.photo2{
    width: 700px;
    height: 400px;
}
.h1sec2{
padding-left: 280px;
padding-top: 140px;
font-family: 'Angela Cindysttar', sans-serif;
font-size: 50px;
}
.h5sec2{
padding-left: 220px;
text-align: center;
font-size: 15px;
letter-spacing: 3px;
}
.butt1{
    margin-left: 350px;
}
.SEC2H1{
    letter-spacing: 3px;
    margin-left: 600px;
    padding-top: 50px;
}
.sec1-2{
    background-color: rgb(248, 248, 248);
}
a {
    text-decoration: none;
    color: inherit;
    text-decoration: none;
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    text-decoration:none;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.5);
    width: 56px;
    text-decoration: none;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    font-family: 'Angela Cindysttar', sans-serif;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    text-decoration: none;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    text-decoration: none;
    background: rgb(219, 219, 217);
  }
  .cta:hover svg {
    transform: translateX(0);
    text-decoration: none;
  }
  .cta:active {
    transform: scale(0.96);
    text-decoration: none;
  }
  .button1{
    margin-left: 265px;
 }
/* thired part */
.sec2-2{
    background-color: rgb(248, 248, 248);
}
.sec3{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin-left: 5.5%;
  }
.sec2img3{
    margin-left: 230px;
}
.h1sec3{
    margin-left: 200px;
    padding-top: 140px;
    font-family: 'Angela Cindysttar', sans-serif;
    font-size: 50px;
    }
.h5sec3{
margin-left: 160px;
text-align: center;
font-size: 15px;
letter-spacing: 3px;
}
.button2{
    margin-left: 200px;
}
.sec4{
  display: flex;
  justify-content: space-around;
  background-color: rgb(248, 249, 250);
}
.card{
  margin-top: 20px;
}
.sec4-1{
  background-color: rgb(248, 249, 250);
}
.card-text{
  font-family: 'Angela Cindysttar', sans-serif;
font-size: 35px;
text-align: center;
}
.buu{
  margin-left: 80px;
}
.pcard{
  text-align: center;
  letter-spacing: 2px;
}
.SEC2H2{
  letter-spacing: 3px;
  margin-left: 595px;
  padding-top: 50px;
}
/* cardcooooode */
.product .product-description, main[role=main] {
  *zoom: 1;
}
.product .product-description:after, main[role=main]:after {
  content: "";
  display: table;
  clear: both;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #31353d;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

abbr {
  cursor: help;
}

body {
  background: url("../img/main-bg.png");
  color: #aaa;
  font-size: 14px;
  font-family: "MavenProRegular", arial, tahoma, trebuchet ms, verdana;
  height: 100%;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  line-height: 0;
}

main[role=main] {
  max-width: 500px;
  margin: 20px auto;
  position: relative;
}

.product {
  background: #fff;
  max-width: 300px;
  position: relative;
  z-index: 15;
  margin: 0 auto;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.product .product-description {
  position: relative;
  z-index: 15;
  background: #fff;
}
.product .product-description .info {
  padding: 15px;
  color: rgb(0, 0, 0);
  font-size: 0.85em;
  width: 75%;
  float: left;
}
.product .product-description .info h1 {
  font-size: 20px;
  margin: 0 0 5px;
}
.product .product-description .info p {
  margin-bottom: 15px;
  line-height: 1.3em;
}
.product .product-description .price {
  width: 25%;
  float: left;
  color: #000000;
  font-size: 3.5em;
  position: relative;
  margin-top: 25px;
}
.product .product-description .price::before {
  content: "$";
  position: absolute;
  top: 0;
  left: -10px;
  font-size: 0.35em;
}
.product .product-sidebar {
  height: 100%;
  background: rgb(253, 213, 206);
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  transition: right 0.3s ease;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
.product .product-sidebar button {
  border: 0;
  color: #fff;
  padding: 0.9em;
  font-size: 0.8em;
  width: 50px;
  height: 50px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.product .product-sidebar button.buy {
  background: transparent url("https://raw.githubusercontent.com/brunodsgn/productpreview/master/assets/img/icons/buy.png") no-repeat 15px;
}
.product .product-sidebar button.info {
  background: transparent url("https://raw.githubusercontent.com/brunodsgn/productpreview/master/assets/img/icons/info.png") no-repeat 15px;
}
.product .product-sidebar button.size {
  background: transparent url("https://raw.githubusercontent.com/brunodsgn/productpreview/master/assets/img/icons/sizes.png") no-repeat 15px;
}
.product .product-sidebar button.colors {
  background: transparent url("https://raw.githubusercontent.com/brunodsgn/productpreview/master/assets/img/icons/colors.png") no-repeat 15px;
}
.product .product-sidebar button.colors span {
  margin-left: 40px;
}
.product .product-sidebar button.colors:hover {
  width: 130px;
}
.product .product-sidebar button.colors .color {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.product .product-sidebar button.colors .color.black {
  background: #000;
  border-bottom: 2px solid #555;
}
.product .product-sidebar button.colors .color.white {
  background: #fff;
  border-bottom: 2px solid #e5e5e5;
}
.product .product-sidebar button.colors .color.red {
  background: #ea1535;
  border-bottom: 2px solid #ef566d;
}
.product .product-sidebar button.colors .color:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.product .product-sidebar button span {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  white-space: nowrap;
  margin-left: 30px;
}
.product .product-sidebar button:hover {
  width: 130px;
  background-color: rgb(108, 105, 110);
  position: relative;
  background-position: 15px center;
  border-color: #9bb6aa;
}
.product .product-sidebar button:hover span {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.product:hover .product-sidebar {
  right: -50px;
}

@media screen and (max-width: 480px) {
  #content {
    margin-top: 60px;
  }

  .product .product-sidebar {
    width: 100%;
    height: 50px;
    bottom: 0px;
    left: 0;
    top: inherit;
    -webkit-border-radius: 0 0px 2px 2px;
    -moz-border-radius: 0 0px 2px 2px;
    -o-border-radius: 0 0px 2px 2px;
    border-radius: 0 0px 2px 2px;
    -webkit-transition: bottom 0.3s ease;
    -moz-transition: bottom 0.3s ease;
    -o-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
  }
  .product:hover .product-sidebar {
    bottom: -50px;
  }
}
@media screen and (max-width: 360px) {
  .product .product-sidebar {
    bottom: -50px;
  }
}
.seccard{
  background-color: rgb(248, 248, 248);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:rgb(253, 213, 206);;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footerfo{
  font-family: 'Angela Cindysttar', sans-serif;

}
.footerh1{
  font-family: 'Angela Cindysttar', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 55px;
  background-color: rgb(36, 38, 43);
}
